/* //@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"); */
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-Black.eot");
  src: url("./assets/fonts/Outfit-Black.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Outfit-Black.woff2") format("woff2"),
    url("./assets/fonts/Outfit-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-Bold.eot");
  src: url("./assets/fonts/Outfit-Bold.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Outfit-Bold.woff2") format("woff2"),
    url("./assets/fonts/Outfit-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-ExtraBold.eot");
  src: url("./assets/fonts/Outfit-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Outfit-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/Outfit-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-ExtraLight.eot");
  src: url("./assets/fonts/Outfit-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Outfit-ExtraLight.woff2") format("woff2"),
    url("./assets/fonts/Outfit-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-Light.eot");
  src: url("./assets/fonts/Outfit-Light.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Outfit-Light.woff2") format("woff2"),
    url("./assets/fonts/Outfit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-Medium.eot");
  src: url("./assets/fonts/Outfit-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Outfit-Medium.woff2") format("woff2"),
    url("./assets/fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-Regular.eot");
  src: url("./assets/fonts/Outfit-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Outfit-Regular.woff2") format("woff2"),
    url("./assets/fonts/Outfit-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-SemiBold.eot");
  src: url("./assets/fonts/Outfit-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Outfit-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Outfit-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-Thin.eot");
  src: url("./assets/fonts/Outfit-Thin.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Outfit-Thin.woff2") format("woff2"),
    url("./assets/fonts/Outfit-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
}
/* @media (min-width: 350px) {
  .container {
    width: 350px;
    margin: auto;
  }
} */
::-webkit-scrollbar {
  @apply hidden;
}
.grid-cols-repeat {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
